.container{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	
}


.slider{
    overflow: hidden; /*keep the content without overflow to outside*/
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;

}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*nav destination*/
/*nav categories*/
.text-box1{
	position: absolute;
	bottom: 570px;
	padding-left: 40px;
	
}

select{
	width:200px;
	padding:6px 20px;
	border: 3px  rgb(139, 130, 130);
	border-radius: 10px;
	background-color: cadetblue;
	background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
}


/*second css*/


@media(max-width: 700px)                      /*mobile window*/
{       
	.experiences,.slide-container,.slider,.expr,.experiences.box
	{
		flex-direction: column;
	}
}



.expr{
    background-color: rgb(5, 4, 4);
    /* width: 100%; */
    background-size: cover; /*apply img to whole page*/
	background-position: center;
	
}
.experiences{
	/* width: 100%; */
	padding-left: 100px; 
	position: absolute;/* window show 1 img*/
	transform: translateY(-50%,-50%);                     /* ? */
	display: flex;  /*3 img in 1row*/
    justify-content: center;                               /* ? */
    
}
.experiences .box{
	position: relative; /*3img's 3description*/
	width: 350px;
	height: 350px;
	margin: 15px;     /*space between images*/
	text-align: center;
	overflow: hidden;
}
.experiences .box .overlay2{             /*box hover black trans*/
	position: absolute;
	top: 0;
	left: -150%;
	width: 120%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	transform: skew(-30deg);
	transition: .5s;
}
.experiences .box:hover .overlay2{     /*box hover black trans*/
	
	left: -10%;
}
.experiences .box .text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	color: black;
	box-sizing: border-box;
	padding: 25px;
	z-index: 1000;
	text-shadow: 5px 5px 10px black;
}

.experiences .box .text h2{   /*inside box text*/
	position: relative;
	color: rgb(249, 250, 250);
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 1px;
	opacity: 0;
	transition: .5s;
	transition-timing-function: linear;
	transform: translateY(-10px);
}
.experiences .box:hover .text h2{
	transform: translateY(0);
	opacity: 1;
	transition-delay: .5s;
}
.experiences .box .text p{
	color: white;
	line-height: 1.2;
	opacity: 0;
	transform: translateY(10px);   /*text appear time*/
	transition: .5s;
	transition-timing-function: linear;
}
.experiences .box:hover .text p{    /*appear para text*/
	transform: translateY(0);
	opacity: 1;
	transition-delay: .6s;
}
 /* cat*/
 .dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
  }
  
  #myInput {
	box-sizing: border-box;
	background-image: url('searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;} /*end cat*/