#selectBG
{
    background-size: cover;
    background-image: url("../Images/paris-4793193_1920.jpg"); 
}
#cont
{
    width:800px;
    height:relative;
    background-color: hsl(208, 100%, 97%,0.7);
    border-radius: 10px;
    

}
* {
    box-sizing: border-box;
  }
  
  .column
   {
    float: left;
    width: 50%;
    padding: 10px;
    height: 350px; 
    
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .col
  {
      text-decoration: none;
      color: black;
      font-size: 35px;
  }
.col:hover
{
    color: rgb(255, 6, 6);
    transition: 0.3s;
    
}
