#footer1 {
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
    height: 300px;
    padding-right: 10px;
    padding-bottom: 65px;
    font-size: 22px;
}

.add {
    display: block;
    float: left;
    left: 5%;
    margin-top: 1%;
    margin-right: 5%;
    color: goldenrod;
    font-size: 20px;
    margin-left: 5%;
    text-align: left;
    background-color: #000000;
}

.sp {
    font-size: 35px;
}

@media(max-width:1144px) {
    #footer1 {
        height: 100%;
    }
}

@media(max-width:380px) {
    #logo {
        width: 200px;
    }
}

@media(max-width:1255px) {
    #f-logo {
        width: 400px;
    }
}

@media(max-width:400px) {
    #f-logo {
        width: 200px;
    }
}
.foot
{
    text-decoration: none;
    color: goldenrod;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.foot:hover
{
   color:white;
   transition: 0.3s;
}