* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: rgb(0, 0, 0);
    height: 200px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}

.btn {
    color: none;
    text-align: right;
    display: block;
    padding-right: 4px;
    margin-top: 20px;
    position: relative;
    float: right;
}

.button1 {
    background-color: black;
    border-color: goldenrod;
    color: goldenrod;
    width: 150px;
    padding: 5px 2px 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 8px;
}

.button1:hover {
    background-color: goldenrod;
    color: black;
    transition: .5s;
}

nav ul {
    color: #e50000;
    float: right;
    margin-right: 10%;
    margin-top: 60px;
    position: relative;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 30px;
}

nav ul li a {
    color: goldenrod;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
}

#nav.active,#nav:hover 
{
    transition: .5s;
    border: 10px;
}   
#nav:hover 
{
    color: white;
    font-size: 18px;
}

.checkbtn {
    font-size: 30px;
    color: goldenrod;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.checkbtn:hover {
    color: silver;
}

#check {
    display: none;
}

@media(max-width:900px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width:1144px) {
    .checkbtn {
        display: block;
    }
    .nav-ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .nav-sub-item a {
        background-color: transparent;
    }
    a:hover,
    a.active {
        background: none;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media(max-width:1040px) {
    #copy-r {
        text-align: center;
        padding-top: 400px;
    }
}

@media(max-width:380px) {
    #logo {
        width: 200px;
    }
}

@media(max-width:1474px) {
    nav ul {
        margin-right: 0px;
    }
}

@media(max-width:1324px) {
    nav ul {
        margin-top: 0px;
        margin-right: 10%;
    }
}

@media(max-width:745px) {
    .btn {
        position: absolute;
        margin-left: 30%;
        margin-top: 100px;
    }
}

@media(max-width:510px) {
    .button1 {
        width: 100px;
        font-size: 10px;
    }
    .btn {
        margin-left: 15%;
        margin-top: 120px;
    }
}