table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
}

th {
    background-color: coral;
    color: #333;
}

tr:nth-child(even) {
    background-color: cornsilk;
}